<div class="week container">
    <div class="row">
            <div class="block block--full">
                <h2>And beyond...</h2>
                <h1>What to do next</h1>
                <div class="block__contents">
                    <p> You may know that <a href="https://www.glassdoor.com/Award/Best-Places-to-Work-LST_KQ0,19.htm">7/10 of the Best Places to Work in 2016</a> are tech companies, but there is more to software development than ping-pong. We want to help you understand what careers exist in tech.</p>
                    <ul>
                        <li>Software developer: Writes code. Senior software developers review code.</li>
                        <li>Software engineer: Writes/reviews code, but focuses on low level design and deciding between technology choices.</li>
                        <li>Development Operations (DevOps) engineer: Handles deployment of software.</li>
                        <li>Project manager: Handles scheduling, resource assignment, and support for project team.</li>
                        <li>UI/UX developer: Handles front-end. In charge of the look and feel of the product.</li>
                        <li>Technical writer: Writes the documentation for software (both internal and public).</li>
                    </ul>
                </div>
                <p></p>
            </div>
    </div>
    
    <div class="row photos">
        <div class="photo photo-1">
            <img src="images/google.jpg">
        </div>
        <div class="photo photo-2">
            <img src="images/apple.jpg">
        </div>
        <div class="photo photo-3">
            <img src="images/dropbox.jpg">
        </div>
        <div class="photo photo-4">
            <img src="images/uber.jpg">
        </div>
        <div class="photo photo-5">
            <img src="images/coffee.jpg">
        </div>
        <div class="photo photo-6">
            <img src="images/facebook.jpg">
        </div>
        
        
    </div>
    
    <div class="row">
        <div class="block block--full">
            <h1>Internships &amp; Interviews</h1>
            <div class="block__contents">
                <p>We hope this course has you pumped to take computer science classes at school and try your hand at software engineering. Getting a tech internship is difficult, but fulfilling. We want you to be prepared if you get the opportunity to interview at a company you're excited about.</p>
                <p>We've picked out the resources below to provide a starting point for your interview prep. There's a great deal we haven't covered: algorithms, data structures, complexity and computability theory--there's so much to learn! In fact, the deeper you go into computer science, the more questions you will have. It's what makes the field so exhilirating.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row resources">
        <div class="col-md-4">
            <h3>Fun Ways to Practice Coding</h3>
            <ul>
                <li><a href="https://codefights.com/">Code Fights</a>
                    <p>Code Fights allows you to challenge your friends to coding challenges, and see who can solve the problems the fastest. Getting some friends together to practice and compete is a great way to stay motivated and push yourself. The TAs are open to any challenges. If you beat Gabe while you're still in Cape Town, he'll buy you a coffee! The gauntlet has been thrown down.</p></li>
                <li>
                    <a href="https://www.hackerrank.com/">HackerRank</a>
                    <p>
                        Many first round coding interviews are conducted through HackerRank, a platform that tests you with increasingly difficult coding problems. HackerRank is a great way to assess where you stand and what you still need to learn. Spending just a few minutes each day solving coding problems can make a big difference when you walk in to your interview!
                    </p>
                </li>
    
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Useful Interview Prep Materials</h3>
            <ul>
                <li><a href="https://www.amazon.com/Cracking-Coding-Interview-6th-Programming/dp/0984782850/ref=dp_ob_title_bk">Cracking the Coding Interview</a>
                    <p>This book is the bible of the coding interview prep. It has hundreds of great practice problems and beautiful explanations of solutions. Working through the problems in this book is probably the number one way to practice for a coding interview. Be sure to check out the solutions and ask your TAs if you have any questions.
                    </p>
                </li>
                <li>
                    <a href="https://www.interviewcake.com/">Interview Cake</a>
                    <p>Interview cake is a prep site that gives you mock interview questions and solutions. Another great way to practice before going in to a real interview. The creator of the site has collected real interview questions from dozens of big tech companies and you can explore what types of questions each company tends to ask.</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Brainteasers and Riddles</h3>
            <ul>
                <li>
                    <a href="https://www.brainbashers.com/">Brain Bashers</a>
                    <p>
                        We loved going through brainteasers and riddles as a class. Keep the fun going during your internships and beyond! Check out Brain Bashers for great daily riddles and some of our all time favorite brainteasers. The TAs get really excited about riddles--if you have a good one, post it in the Slack!
                    </p>
                </li>
                <li>
                </li>
            </ul>
        </div>
        
    </div>
    
    <div class="row">
        <div class="block block--full">
            <h3>And finally...</h3>
            <h1>Don't forget the people.</h1>
            <div class="block__contents">
              <p>We've all gone through this journey together. While everyone is heading off to different
                places, don't stop using each other as resources. We (the teaching team) are always 
                here to answer questions or just chat about anything you want to.
                </p>
                <p> All your questions, hard work, and perseverence
                  made us look forward to coming to class every day.
                  Thank you for letting us share the things we love with you. 
                </p>
                <div class="signatures">
                  <img src="images/sig_rafi.png">
                  <img src="images/sig_allie.png">
                  <img src="images/sig_ben.png">
                  <img src="images/sig_gabe.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      
      <div class="col-md-4">
        
      </div>
    
</div>