

<!-- first -->
<div class="week container">
	<div class="row">
			<div class="block block--full">
				<h2>Week 1</h2>
				<h1>Welcome to the Mother City</h1>
				<div class="block__contents">
					<p>Class begins, you explore the city, and you make 25 new friends. It is the beginning of an epic summer (winter).</p>
					<p>You all crushed the pre-work (mostly) and then immediately drowned in StudioNudge and other fun website duplications. You discovered that Gabe is only 22 and that his facial hair adds on a few years. Everyone got an alliterative adjective and the best four weeks of your life began.</p>
					<p>By the end of week 1, everyone had a personal website on the real live internet. You probably struggled a bit, still wish that one div has a bit less padding, and want to perfect your website. But think about it - just one week before your website had an awkwardly large picture, a horrible background color, and a nice "Hello World". By the end, you had amazing CSS styling and incredibly beautiful sites.</p>
				</div>
				<p></p>
			</div>
			
		<div class="col-md-6">
			
		</div>
		
	</div>

	<div class="students-grid">
		<div class="row">
			<div class="col-md-4">
				<a href="www.allieivener.com">
					<div class="student">
						<img class="student-pic"  src="./images/allie.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Allie Ivener</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://gabeboning.com">
					<div class="student">
						<img class="student-pic"  src="./images/gabe.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Gabe Boning</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="student">
						<img class="student-pic"  src="./images/ben.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Ben Penchas</h3>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="">
					<div class="student">
						<img class="student-pic"  src="./images/rafi.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Rafi Khan</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://adimitui.github.io">
					<div class="student">
						<img class="student-pic" src="./images/adelle.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Adelle Dimitui</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://alexmb1212.github.io/">
					<div class="student">
						<img class="student-pic"  src="./images/alex.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Alex Moss-Bolanos</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://amirxadem.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/amir.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Amir Adem</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://andrewkwik.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/andrew.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Andrew Kwik</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://chayles.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/caitlin.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Caitlin Hayles</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://cgjohn.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/connor.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Connor Johnston</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://courtneyrae23.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/courtney.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Courtney Pasco</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://dsnathan.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/dan.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Dan Nathan</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://emmafass.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/emma.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Emma Fass</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://ibenatar.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/isabel.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Isabel Benatar</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://jessnyquist.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/jessica.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Jessica Nyquist</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://jodieryu.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/jodie.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Jodie Ryu</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://joshlauder.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/josh.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Josh Lauder</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://lorna-k.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/lorna.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Lorna Nqodi</h3>
				</a>
			</div>
		</div>


		<div class="row">
			<div class="col-md-4">
				<a href="http://masonbor.github.io">
					<div class="student">
						<img class="student-pic" src="./images/mason.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Mason Borden</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://trynalearn.github.io">
					<div class="student">
						<img class="student-pic" src="./images/nadim.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Nadim Rifai</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://pablocodes.github.io">
					<div class="student">
						<img class="student-pic" src="./images/pablo.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Pablo Cazzulino</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://rachelad6.github.io">
					<div class="student">
						<img class="student-pic" src="./images/rachel.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Rachel Davis</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://raul-f-rodriguez.github.io">
					<div class="student">
						<img class="student-pic" src="./images/raul.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Raul Rodriguez</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://robertcas257.github.io">
					<div class="student">
						<img class="student-pic" src="./images/rob.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Rob Castellanos</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://bulele.github.io">
					<div class="student">
						<img class="student-pic" src="./images/sibulele.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Sibulele Hlongwane</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://mkhskh003.github.io">
					<div class="student">
						<img class="student-pic" src="./images/skhumbuzo.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Skhumbuzo Mkhungo</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://stephshin2.github.io">
					<div class="student">
						<img class="student-pic" src="./images/steph.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Steph Shin</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://veraxrl.github.io">
					<div class="student">
						<img class="student-pic" src="./images/vera.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Vera Xu</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://wandersonbanks.github.io">
					<div class="student">
						<img class="student-pic" src="./images/wandile.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Wandile Khowa</h3>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://wstager.github.io">
					<div class="student">
						<img class="student-pic" src="./images/will.jpg" alt="">
					</div>
					<h3 class="caption person-caption">Will Stager</h3>
				</a>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="block block--full">
			<h1>Taking HTML &amp; CSS Farther</h1>
			<div class="block__contents">
					<p>But what if you want animations that melt the faces off your visitors? What if you
						want to learn how to make super complex layouts? We've put together
						some resources that you can refer to as you go out and continue building things for 
						the web.</p>
			</div>
		</div>
	</div>
	
	<div class="row resources">
		<div class="col-md-4">
			<h3>HTML</h3>
			<ul>
				<li><a href="http://html5doctor.com/element-index/">HTML5 Element index</a>
					<p>This is just a list of all the elements available in HTML5. You might be surprised
					at how many there are, and how specific they get. The more accurately you can match
					an element to the contents it contains, the better.</p>
				</li>
				<li>
					<a href="http://tympanus.net/codrops/2011/11/24/top-10-reasons-to-use-html5-right-now/">Top 10 Reasons to Use HTML5 Right Now</a>
					<p>A blog post highlighting some of the main features in HTML5, and showing a lot of the powerful and new things
					it can do. It also has a lot of useful and interesting links about how to use HTML5.</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>CSS</h3>
			<ul>
				<li><a href="http://tympanus.net/Development/CreativeButtons//">Creative Button Styles</a>
					<p>A bunch of cool button effects that you can use in your app, use as inspiration, and
						as examples of how to do cool animations with CSS.</p>
				</li>
				<li>
					<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Flexbox Guide</a>
					<p>Flexbox is a newer feature in CSS that allows creating layouts without using
						floats. It solves a lot of problems that used to be total headaches for developers,
						and it's something that is totally worth spending the time to learn. This is a good
						guide with useful pictures as to what all the flexbox CSS properties mean!
					</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>UI/UX</h3>
			<ul>
				<li><a href="https://viljamis.com/2016/typography-for-user-interfaces/?utm_source=designernews/">Typography for User Interfaces</a>
					<p>While you might not spend a lot of time thinking about it, typography is incredibly important
						to creating a usable interface and in supporting your message. While it's a little nerdy, this
						article is an interesting look into it, and gives you some good ways to think about typography.</p>
				</li>
				<li>
					<a href="http://www.theatlantic.com/video/index/265223/dieter-rams-reflects-on-his-principles-of-good-design/">Dieter Rams 10 Principles of Good Design</a>
					<p>Dieter Rams, famous for his product design done for Braun, talks about the 10 principles that he
						sees as common to all good design. These are fantastic guiding concepts that you can use to evalute 
						your websites, as well as to think critically about the products you see around you.</p>
				</li>
			</ul>
		</div>
		
	</div>
	
	
</div>