<div class="week container">
	<div class="row">
			<div class="block block--full">
				<h2>Week 3</h2>
				<h1>AngularJS</h1>
				<div class="block__contents">
					<p>Over halfway done! You had a great time on safari with facepaint and lions and all the fun animals. Shoutout to Pablo and his selfie with a lion! Good thing Daycare Dan didn't enforce the no-pants rule during the freezing cold game drives.</p>
					<p>Week 3 wasn't all fun and games, though. AngularJS continued to surprise you. There was <em>$scope</em> and <em>ng-view</em> and <em>$routeProvider</em> got a little challenging and fun console errors. But overall, AngularJS was life-changing. It allowed us to create <em>Chommies</em> and prop our brus.</p>
				</div>
				<p></p>
			</div>
		<div class="col-md-6">
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="week3-pic-div-big">
				<img class="week3-pic-big" src="./images/safari.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-small" src="./images/selfie-with-lion.jpg" alt="">
				</div>
			</div>
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-small" src="./images/lionshead-group.JPG" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-xs" src="./images/tension.png" alt="">
					<img class="week3-pic-xs" src="./images/moviegif.png" alt="">
				</div>
			</div>
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-small" src="./images/gg.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="week3-pic-div-big">
				<img class="week3-pic-big" src="./images/tapas.jpg" alt="">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="block block--full">
			<h1>Unraveling the Mysteries of Angular</h1>
			<div class="block__contents">
				<p>Angular lets us do some incredibly cool things with astonishing ease. 
					But it's not at all apparent what's really happening with Angular. And 
					maybe you don't feel like you know where to go next. The Angular docs are
					a dark and scary place. So where do you go to learn more about
					Angular itself, or about all the more powerful things that you can do with Angular?
				</p>
			</div>
		</div>
	</div>
	
	<div class="row resources">
		<div class="col-md-6">
			<h3>The Magic Revealed</h3>
			<ul>
				<li><a href="https://www.smashingmagazine.com/2015/01/angularjs-internals-in-depth/">AngularJS’ Internals In Depth</a>
					<p>This article digs way down into how Angular actually works. Maybe it's way more than you
						would ever want to know, and there's a good chance it's all things you would never need 
						to know. But having an understanding of what's happening under the hood always makes working
						with a tool a little easier. </p>
				</li>
				<li>
					<a href="http://stackoverflow.com/questions/9682092/how-does-data-binding-work-in-angularjs/9693933#9693933/">How does databinding work in AngularJS?</a>
					<p>Databinding is perhaps <em>the</em> core feature in Angular that solves the
						biggest headaches involved in creating modern applications. How does Angular do it? This 
						stack overflow answer provides a pretty decent overview. It throws around some terms you might not
						recognize, but Google them and you'll be able to piece it all together without too much effort.
					</p>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3>The Deep Dive</h3>
			<ul>
				<li>
					<a href="https://www.sitepoint.com/practical-guide-angularjs-directives/">A Practical Guide to Building Custom Directives</a>
					<p>
						We only used the built-in directives that Angular provides for us. But one of Angulars central (and most powerful)
						features is the ability to define your own directives. Essentially, you can create your own HTML elements that
						have specific javascript/angular code attached to them. Creating directives lets you create custom UI elements
						that you can repeat all over your site.
					</p>
				</li>
				<li> 
					<a href="https://www.airpair.com/javascript/posts/services-in-angularjs-simplified-with-examples">
							Services in AngularJS, Simplified
						</a>
						<p>Like with directives, we only used the built-in services provided for us by Angular. Writing
							your own services allows you to share application logic and code across controllers, as well as
							to store data for the lifetime of an application. The true meat of an application should 
							lie in its services, instead of being written directly into controllers. This article breaks down some of
							the ideas behind services and walks through the process of creating one.
						</p>
				</li>
				<li>
					<a href="http://www.dwmkerr.com/promises-in-angularjs-the-definitive-guide/">Promises: the definitive guide</a>
					<p>We worked with promises a lot. But they're way more powerful and useful than we had time to dig into.
						This guide will show you all the cool things promises can do that you didn't know about, and teaches
						you the ways that using prommises effectively will help structure an application effectively.
					</p>
				</li>
			</ul>
		</div>
		
	</div>
	
	
</div>