<div class="week container">
	<div class="row">
			<div class="block block--full">
				<h2>Week 4</h2>
				<h1>The End</h1>
				<div class="block__contents">
					<p>And then it was over...amidst everyone drying their tears because they'll miss class so much, you created your very own web application from scratch.</p>
					<p>You had to make a lot of hard decisions. What was the problem? What was the vision? What features make up the minimum viable product? How can all of these ideas actually turn into code? By the last day of class, everyone's applications showcased their new skills.</p>
				</div>
				<p></p>
			</div>
			
		<div class="col-md-6">
			
		</div>
		
	</div>

	<div class="students-grid projects-grid">
		<div class="row">
			<div class="col-md-4">
				<a href="https://github.com/allyrogge/finalprojec	t">
					<div class="student">
						<img class="student-pic"  src="./images/depindable.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Depindable</h3><h4>Fraci, Allison</h4>
						<div>Use Depindable to get trustworthy travel recommendations from friends.</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/chrismoxley/Chris-Rachel-Smash-Repo">
					<div class="student">
						<img class="student-pic"  src="./images/rafi.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Yoked</h3>
						<h4>Smash, Rachel, Chris</h4>
						<div>Adding value to communication by using technology to make communicating harder. Are you too lazy to get off your ass? Then you're gunna get YOKED!</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/kellymcguffog/ReFresh">
					<div class="student">
						<img class="student-pic"  src="./images/refresh.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>ReFresh</h3><h4>JoJo, Nikki, Kelly</h4>
						<div>Sick of wasting money and food because your groceries expire? Use ReFresh to track your groceries' expiration dates and get recipe recommendations to use those soon-to-expire foods!</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="https://github.com/kcha16/InstaCaption">
					<div class="student">
						<img class="student-pic"  src="./images/capthat.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Cap That</h3><h4> Kevin, Sahil, Sam</h4>
						<div>blah</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/Lyreguin/FinalProjectMCP/">
					<div class="student">
						<img class="student-pic" src="./images/joinon.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Join On</h3><h4> Michael, Christine, Pietro</h4>
						<div>blah</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/stephkwok01/FriendApp">
					<div class="student">
						<img class="student-pic"  src="./images/2conn.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>2 Degrees of Connection</h3><h4> Stella, EJ, Steph</h4>
						<div>2 Degrees of Connection allows you to connect with your Facebook friends (and their friends) that are present in the city you’re visiting at the moment. It connects people and inspires immersion in local communities.</div>
					</div>
				</a>
			</div>
</div>
