<div class="week container">
	<div class="row">
		<div class="block block--full">
			<h2>Week 4</h2>
			<h1>The End</h1>
			<div class="block__contents">
				<p>And then it was over...amidst everyone drying their tears because they'll miss class so much, you created your very own web application from scratch. But first there was <em>Tension</em>. Messaging and channels and all communicating with one database seemed impossible. But you did it! And that propelled you into a great position to create incredible final applications. Seriously - we were beyond impressed.</p>
				<p>You had to make a lot of hard decisions. What was the problem? What was the vision? What features make up the minimum viable product? How can all of these ideas actually turn into code? By the last day of class, everyone's applications showcased their new skills.</p>
			</div>
			<p></p>
		</div>

		<div class="col-md-6">
			
		</div>
		
	</div>

	<div class="students-grid projects-grid">
		<div class="row">
			<div class="col-md-4">
				<a href="https://github.com/MKHSKH003/CityMood">
					<div class="student">
						<img class="student-pic"  src="./images/citymood.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>CityMood</h3><h4>Wandile, Skhumbuzo</h4>
						<div>Find out the best things to do in a new city with ease.</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/lorna-k/Escape">
					<div class="student">
						<img class="student-pic"  src="./images/esc.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>ESC</h3>
						<h4>Lorna, Isabel, Josh, Dan</h4>
						<div>Feeling lazy? Get a daily travel itinerary so you don't have to even think about it.</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/veraxrl/musci_project">
					<div class="student">
						<img class="student-pic"  src="./images/musiq.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>MusIQ</h3><h4>Vera, Alex, Pablo</h4>
						<div>Sick of juggling multiple music platforms? Sync it all up with Musiq.</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="https://github.com/andrewkwik/sapfinalproject">
					<div class="student">
						<img class="student-pic"  src="./images/signifi.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Signifi</h3><h4>Sibulele, Caitlin, Andrew</h4>
						<div>Feel safer going out knowing that you and your friends can look out for each other and know when to help.</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/jessnyquist/BucketList">
					<div class="student">
						<img class="student-pic" src="./images/buckit.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>BuckIt</h3><h4>Rachel, Steph, Jessica</h4>
						<div>Set your goals, be inspired by others' plans, and see your memories.</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/syndiyoteamix/syndiyo-Web-Dev">
					<div class="student">
						<img class="student-pic"  src="./images/syndiyo.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Syndiyo</h3><h4>Rob, Emma, Will, Mason</h4>
						<div>Connect your doctors to improve your medical experience.</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="https://github.com/amirxadem/holycow">
					<div class="student">
						<img class="student-pic"  src="./images/holycow.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Holy Cow</h3><h4>Amir, Raul</h4>
						<div>Track how much meat you eat to positively contribute to the environment.</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/cgjohn/Ticket_Tracker">
					<div class="student">
						<img class="student-pic" src="./images/ticket.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Ticket Tracker</h3><h4>Connor, Courtney, Jodie</h4>
						<div>Track ticket prices over time so you can get the best deal.</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/adimitui/Adevo">
					<div class="student">
						<img class="student-pic"  src="./images/adevo.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Adevo</h3><h4>Nadim, Adelle</h4>
						<div>Native advertisements are more sucessful. Adevo connects developers and advertisers to use native ads.</div>
					</div>
				</a>
			</div>
		</div>
