<div class="week container">
	<div class="row">
			<div class="block block--full">
				<h2>Week 2</h2>
				<h1>In Comes Javascript</h1>
				<div class="block__contents">
					<p>After a great day surfing in Muizenberg, week 2 began. Javascript tests, JavaScript functions, and all things code consumed your time. There was confusion, and hopefully some points of clarity too.</p>
					<p>And what is this AngularJS thing? Is it just some magic? Colors could change, text could appear, and there was a lot of "ng". Your coding skills got pretty powerful.</p>
					<p>To tie it all together, you created <em>Instamood</em>. Using the Instagram API and a Sentiment Analysis API, you revamped Instagram. Now we know that everyone really does need a positivity score on their captions and that APIs are creepily good at analyzing the contents of images.</p>
				</div>
				<p></p>
			</div>
	</div>
	
	<div class="row photos">
		<div class="photo photo-1">
			<img src="images/brunch.jpg">
		</div>
		<div class="photo photo-2">
			<img src="images/steph-lionshead.jpg">
		</div>
		<div class="photo photo-3">
			<img src="images/canopywalk.jpg">
		</div>
		<div class="photo photo-4">
			<img src="images/sunset.jpg">
		</div>
		<div class="photo photo-5">
			<img src="images/muizenberg.jpg">
		</div>
		<div class="photo photo-6">
			<img src="images/group2.jpg">
		</div>
		
		
	</div>
	
	<div class="row">
		<div class="block block--full">
			<h1>More Power, Less Pain</h1>
			<div class="block__contents">
				<p>JavaScript is not easy. It's hard to work with, annoying at times, and super
					picky about every single character you type. But JavaScript is what we have to
					work with, and JavaScript can do a lot. We hope that you feel like you can wield
					it to solve problems, not just type and fix syntax errors until <em>something</em>
					happens.</p>
					<p>We've picked out the resources below to provide a starting point for some of
						the things you might be more likely to want to do with Javascript. There's an
						insanely huge world of frameworks, libraries, tools, and  more out there. We
						only scratched the surface. </p>
			</div>
		</div>
	</div>
	
	<div class="row resources">
		<div class="col-md-4">
			<h3>Animation and Interaction</h3>
			<ul>
				<li><a href="http://velocityjs.org">Velocity.js</a>
					<p>Animation is everywhere on the web, but it's hard to do well. Among other
						issues that we can't really solve for you (like when should you use it? 
						How long should that fade take?), one that we can help you avoid is 
						performance. A lot of animations run slowly. VelocityJS is a library
						that does a great job of making animations run smoothly without you needing
						to geek out about why.</p></li>
				<li>
					<a href="http://idangero.us/swiper/">SwiperJS</a>
					<p>
						There are a thousand carousels and image sliders out there. SwiperJS
						is the most powerful and performant ones, while still being easy to use.
						It lets you configure almost anything you want, and makes it easy to
						create swipable slides and boxes on a page, that work well on mobile
						devices as well.
					</p>
				</li>
	
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Useful Libaries</h3>
			<ul>
				<li><a href="http://lodash.org">Lodash</a>
					<p>Lodash makes a lot of tasks involving working with objects and arrays
						way less painful. Need to apply a function to every element in an array?
						Need to convert an object to an array of only its keys or values? Need to
						filter an array of objects by one property? All these kinds of tasks are
						made trivial with lodash. Bonus: lodash's documentation is phenomenal.
					</p>
				</li>
				<li>
					<a href="https://d3js.org/">D3</a>
					<p>D3 is a library that lets you take a lot of data and display it in a beautiful
						manner within a browser. You can create your own infographics without
						much pain&emdash;there are some truly impressive displays built with D3.</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Coding with JS</h3>
			<ul>
				<li>
					<a href="http://eloquentjavascript.net/">Eloquent JavaScript</a>
					<p>
						A textbook that is available freely to read online, Eloquent JavaScript
						is an excellent resource for thinking about JavaScript as a programming language.
						It's written in a conversational style and is extremely readable (I'd almost
						hesitate to call it a textbook). If you want to become a master of writing
						JavaScript, this is a great place to start.
					</p>
				</li>
				<li>
				</li>
			</ul>
		</div>
		
	</div>
	
	
</div>